includeConfig 'conf/profiles.config'

// Params block
params {
    // update with grch38 genome from igenome and gencode gtf
    dna_fasta  = "/backup/volume/common_files/igenomes/GATK_GRCh38/Homo_sapiens/GATK/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
    dna_gtf    = "/backup/volume/common_files/gencode.v47.primary_assembly.annotation.gtf"
    outdir     = null
    cpus = 8
    max_memory = null
    pvacseq_only = false
    wes_only = false
}

// Assign default options
params.outdir     = params.outdir ?: "$launchDir/results"
params.max_memory = params.max_memory ?: '200 GB'
 
// Use the correct variable for total CPU count
def total = params.cpus as Integer
def pvac_cpus  = (total * 1) as Integer
def other_cpus = (total * 0.5) as Integer

// Process resources
process {
  withName: '.*' {
    cpus   = other_cpus
    memory = params.max_memory
  }

  withName: /run_pvac.*/ {
    cpus   = pvac_cpus
    memory = params.max_memory
  }
}

// Docker config
docker {
    enabled = true
    runOptions = "--memory=200g --memory-swap=200g"
}


timeline {
  enabled = true
  file = "${params.outdir}/reports/timeline.html"
}

trace {
  enabled = true
  file = "${params.outdir}/reports/trace.txt"
}

report {
  enabled = true
  file = "${params.outdir}/reports/report.html"
}

dag {
  enabled = true
  file = "${params.outdir}/reports/flowchart.png"
}

log {
  enabled = true
  file = "${params.outdir}/reports/execution.log"
}
