profiles {

// enable docker

  docker {
    docker.enabled = true
  }
}
// ## GLOBAL OPTIONS
// docker profiles
// docker load for current user and current group
// $PWD is load to /mnt
// /mnt is working directory

process {
// for pvacseq module
  withName: 'run_pvacseq' {
    container = 'pcv/pvactools_plus:5.4.1'
    containerOptions = '-u $(id -u):$(id -g) --rm -v $PWD:/mnt -w /mnt'
  }

// for pvacsplice module
  withName: 'run_pvacsplice' {
    container = 'pcv/pvactools_plus:5.4.1'
    containerOptions = '-u $(id -u):$(id -g) --rm -v $PWD:/mnt -w /mnt'
  }

// for pvacfuse module
  withName: 'run_pvacfuse' {
    container = 'pcv/pvactools_plus:5.4.1'
    containerOptions = '-u $(id -u):$(id -g) --rm -v $PWD:/mnt -w /mnt'
  }

// for vep annotation module
  withName: 'vep_annotate' {
    container = 'ensemblorg/ensembl-vep:release_113.0'
    containerOptions = '-u $(id -u):$(id -g) --rm -v $PWD:/mnt -w /mnt -v "/backup/volume/common_files/vep_cahe:/data"'
  }

// for decomposing vep vcf module
  withName: 'decompose_vcf' {
    container = 'quay.io/biocontainers/vt:2015.11.10--h5ef6573_4'
    containerOptions = '-u $(id -u):$(id -g) --rm -v $PWD:/mnt -w /mnt'
  }

// for site list generation module
  withName: 'generate_site_list' {
    container = 'mgibio/bam_readcount_helper-cwl:1.2.0'
    containerOptions = '-u $(id -u):$(id -g) --rm -v $PWD:/mnt -w /mnt'
  }

// for vcf annotation module
   withName: 'vcf_annotate_all' {
    container = 'griffithlab/vatools:5.2.0'
    containerOptions = '-u $(id -u):$(id -g) --rm -v $PWD:/mnt -w /mnt'
  }

// for generating junction module
  withName: 'generate_junction' {
    container = 'pcv/regtools_plus:1'
    containerOptions = '-u $(id -u):$(id -g) --rm -v $PWD:/mnt -w /mnt'
  }

  withName: 'create_empty_files' {
    container = 'pcv/regtools_plus:1'
    containerOptions = '-u $(id -u):$(id -g) --rm -v $PWD:/mnt -w /mnt'
  }
}

